<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/cssfiles/home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Home</title>
  </head>
  <body>
    <ul>
      <li><a href="#" class="active"> Home</a></li>
      <li><a href="/customers">Customers</a></li>
      <li><a href="/transactions">Transactions</a></li>
    </ul>

    <h1>Overview</h1>
    <p>
      This is a basic banking system and supports transaction between multiple
      users.
    </p>
    <p>Customers page contains dummy data of 10 customers.</p>
    <p>
      Transactions page supports transaction between multiple users and also
      contains transactions history.
    </p>
    <p><b> While transacting there are some checks like:-</b></p>
    <p><span>1. </span>You can't transact to yourself.</p>
    <p><span>2.</span> You can't transact negative amount.</p>
    <p><span>3.</span> You can't transact amount greater then you balance.</p>
    <h2>Thanks for reading.</h2>
  </body>
</html>
